<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <record id="view_offer_wizard_form" model="ir.ui.view">
        <field name="name">Apprenticeship Relieving</field>
        <field name="model">apprenticeship.relieving</field>
        <field name="arch" type="xml">
            <form>
                <sheet>
                    <group>
                        <group>
                            <field name="name" required="1"/>
                            <field name="current_date" invisible="1"/>
                        </group>
                        <footer>
                            <button string="Print" name="invoice_print" type="object" class="btn-primary"/>
                            <button string="Cancel" special="cancel" class="btn-secondary"/>
                        </footer>
                    </group>
                </sheet>
            </form>
        </field>
    </record>
    <record id="action_apprentice_report_wizard" model="ir.actions.act_window">
        <field name="name">Apprenticeship Completion Relieving</field>
        <field name="res_model">apprenticeship.relieving</field>
        <field name="type">ir.actions.act_window</field>
        <field name="view_mode">form</field>
        <field name="view_id" ref="view_offer_wizard_form"/>
        <field name="target">new</field>
    </record>

    <menuitem id="employee_apprentice" parent="superannuation_reporting" name="Apprenticeship Completion Relieving"
              action="action_apprentice_report_wizard" sequence="100"/>

</odoo>